.card {
    /* border: 3px solid black; */
    /* background-color: green; */
    width: 400px;
    height: 200px;
    opacity: 80%;
 }


 .card h1 {
    text-align: center;
 }

 .card:hover{
    /* border: 8px solid black; */
    /* background-color: red; */
    opacity: 100%;
 }

 .mapboxgl-popup {
    max-width: 200px;
    color: navy;
    font-weight: bold;
}
  
 #popup-content {
    offset: 25;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
 }
  
 #marker {
    background-image: url("./images/alien-pixelated-shape-of-a-digital-game.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.button-old {
   border-radius: .5vw;
   border-color: brown;
   background-color: maroon;
   color: white;
   font-weight: bold;
   font-size: 1vw;
   position: relative;
   left: 1vw; 
   top: 1vw;
   width: 8vw;
   height: 4vh;
   box-shadow: .3vw .3vw .4vw rgba(0, 0, 0, .75);
}

.button {
   border-radius: .5vw;
   background-color: rgb(41, 3, 41);
   color: white;
   font-weight: bold;
   font-family: bodoni;
   font-size: 1.5vw;
   position: relative;
   left: 2vw;
   top: 1vw;
   width: 12vw;
   height: 4vw;
   box-shadow: -.3vw .3vw .4vw rgba(0, 0, 0, .75), 0vw 0vw .5vw .1vw white inset;
   transition-duration: 0.4s;
}

.button:hover {
   /* background-color: rgb(41, 3, 41); */
   background-color: rgba(0, 0, 0, 0);
   color: rgb(41, 3, 41);
   /* color: white; */
}